form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  width: 100%;
  align-items: center;
}
form > label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 70px;
  margin: 10px;
}

/* input {
  min-height: 45px;
  border: none;
  border-radius: 6px;
  padding: 0 20px;
} */

.container {
  display: flex;
  align-items: center;
  border: 1px solid black;
  height: 100vh;
}

/* button {
  width: 50%;
  min-height: 50px;
  margin-top: 30px;
  font-weight: bold;
  border-radius: 6px;
  outline: none;
  border: none;
} */

.bg__Gradient {
  /* ff 3.6+ */
  background: -moz-linear-gradient(
    90deg,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-linear-gradient(
    90deg,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-linear-gradient(
    90deg,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#073ABB', endColorstr='#00FFEB', GradientType=0 );

  /* ie 10+ */
  background: -ms-linear-gradient(
    90deg,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );

  /* global 94%+ browsers support */
  background: linear-gradient(
    90deg,
    rgba(0, 255, 235, 1) 0%,
    rgba(7, 58, 187, 1) 100%
  );
}

.mt-20 {
  margin-top: 20px;
}
