.input_style {
  min-width: 400px;
}

.svg1_style {
  display: block;
  height: 16px;
  width: 16px;
  fill: currentcolor;
}
.svg2_style {
  display: block;
  fill: none;
  height: 16px;
  width: 16px;
  stroke: currentcolor;
  stroke-width: 3;
  overflow: visible;
}
.svg3_style {
  display: block;
  height: 100%;
  width: 100%;
  fill: currentcolor;
}
